.aside {
  background: var(--card-bg);
  border-radius: 16px;
  padding: 20px;
  box-shadow: var(--card-shadow);
  position: sticky;
  top: 100px; /* чтобы не уезжал */
}

.aside-block {
  margin-bottom: 30px;
}

.aside-block h4 {
  margin-bottom: 10px;
  font-size: 1.1rem;
}

.tags span {
  display: inline-block;
  background: var(--border-color);
  padding: 4px 12px;
  border-radius: 20px;
  margin: 3px;
  font-size: 0.8rem;
}

.aside-block ul {
  list-style: none;
  padding: 0;
}

.aside-block ul li {
  margin-bottom: 8px;
}